# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Assets/1ST LEVEL/BlackantMasterStudio/*
Assets/1ST LEVEL/Mega Fantasy Props Pack/*
Assets/1ST LEVEL/BlackantMasterStudio.meta
Assets/1ST LEVEL/Mega Fantasy Props Pack.meta
Assets/1ST LEVEL/Suburban Structure Kit.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db